NODE_ENV=development # your environment (development | production)
PORT=3000 # your server port
DISCORD_TOKEN= # your Discord bot token
CLIENT_ID= # your Discord application client ID
GUILD_ID= # your Discord server ID, used for guild-specific commands
BOT_OWNER_ID= # your Discord user ID, used for owner-owned commands
DATABASE_URL=file:./dev.db # your database connection URL
REDIS_URL= # optional, if you want to use Redis for caching
S3_ENDPOINT= # optional, if you want to use S3 for file storage
S3_ACCESS_KEY_ID= # optional, if you want to use S3 for file storage
S3_SECRET_ACCESS_KEY= # optional, if you want to use S3 for file storage
S3_BUCKET= # optional, if you want to use S3 for file storage
TICKETPM_TOKEN= # Required for ticketpm integration
SENTRY_DSN= # optional, if you want to use Sentry for error tracking
LOG_LEVEL=info # set the log level (debug | info | warn | error)
